<div id="header">
<div class="row p-4">
    <p><span class="text-white" style="float: left; text-shadow: 2px 2px 10px rgb(0, 0, 0);">RUE DE LAUSANNE, 1202 GENÈVE, SWITZERLAND</span><span class="text-white" style="float: right; text-shadow: 2px 2px 10px rgb(0, 0, 0);"><span class="mx-3">TEL: +41 22 345 67 88</span><span class="mx-3">FAX: +41 22 345 67 89</span><span class="mx-3">BOOKING@COZYSTAY.COM</span></span></p>
</div>
    <div class="row mt-4">

        <span class="col-4 mt-5 px-5">
        <div class="btn-group">
        <div class="dropdown px-4">
            <button
              class="dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
              style="text-shadow: 2px 2px 10px rgb(0, 0, 0);"
            >
              HOME
            </button>
            <ul class="dropdown-menu bg-dark p-2 py-3" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="/">Home</a></li>
              <!-- <li><a class="dropdown-item" href="#">Cart</a></li> -->
              <li><a class="dropdown-item" routerLink="MyBookings">My Bookings</a></li>
              <!-- <li><a class="dropdown-item" href="#">Activities</a></li> -->
              <!-- <li><a class="dropdown-item" href="#">Amenities & Services</a></li> -->
              <li><a class="dropdown-item" routerLink="Admin">Admin</a></li>
            </ul>
          </div>
          
          <div class="dropdown px-4">
            <button
              class="dropdown-toggle"
              type="button"
              id="dropdownMenuButton3"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
              style="text-shadow: 2px 2px 5px rgb(0, 0, 0);"
            >
              PAGES
            </button>
            <ul class="dropdown-menu bg-dark p-2 py-3" aria-labelledby="dropdownMenuButton3">
              <li><a class="dropdown-item" routerLink="Rooms&Suits">Rooms Page</a></li>
              <li><a class="dropdown-item" href="#">Top Gallery</a></li>
                <!-- <li><a class="dropdown-item" href="#">About the Hotel</a></li>
                <li><a class="dropdown-item" href="#">Dining</a></li>
                <li><a class="dropdown-item" href="#">The Restaurant</a></li>
                <li><a class="dropdown-item" href="#">Our Blog</a></li>
                <li><a class="dropdown-item" href="#">Contact</a></li> -->
              </ul>
          </div>

          <div class="dropdown px-4">
            <button
              class="dropdown-toggle"
              type="button"
              id="dropdownMenuButton2"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
              style="text-shadow: 2px 2px 10px rgb(0, 0, 0);"
            >
              ROOMS
            </button>
            <ul class="dropdown-menu bg-dark p-2 py-3" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" routerLink="ViewRoom/SignatureSuite">Room Deatils - Signature Suite</a></li>
                <li><a class="dropdown-item" routerLink="ViewRoom/DeluxeRoom">Room Deatils - Deluxe Room</a></li>
                <li><a class="dropdown-item" routerLink="ViewRoom/DoubleRoom">Room Deatils - Double Room</a></li>
                <li><a class="dropdown-item" routerLink="ViewRoom/PrestigeSuite">Room Deatils - Prestige Suite</a></li>
                <li><a class="dropdown-item" routerLink="ViewRoom/GrandDeluxeRoom">Room Deatils - Grand Deluxe Room</a></li>
                <li><a class="dropdown-item" routerLink="ViewRoom/JuniorDeluxeSuite">Room Deatils - Junior Deluxe Suite</a></li>
                <li><a class="dropdown-item" routerLink="ViewRoom/PremierRoom">Room Deatils - Premier Room</a></li>
                <li><a class="dropdown-item" routerLink="ViewRoom/GrandDeluxeSuite">Room Deatils - Grand Deluxe Suite</a></li>
              </ul>
          </div>
        </div>
    </span>

    <span class="col-4">
        <h3 class="text-center">Hotel</h3>
    <h1 class="text-center">Elegance</h1>
    <p class="text-center mt-4">
        <i class="fa-solid fa-star mx-1"></i>
        <i class="fa-solid fa-star mx-1"></i>
        <i class="fa-solid fa-star mx-1"></i>
        <i class="fa-solid fa-star mx-1"></i>
        <i class="fa-solid fa-star mx-1"></i>
    </p>
    </span>

    <span class="col-4 mt-5">
        <a href="" class="ms-5 text-white">EN</a> / <a href="" class="text-white me-5">FR</a>
        <button class="btn border ms-5 px-4" routerLink="CheckAvailability" id="checkAvButton">Check Availability</button>
    </span>
    </div>
</div>
