#headerDiv{
    height: 600px;
    background-image: url(https://images.pexels.com/photos/4177715/pexels-photo-4177715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: grayscale(30%); */
    font-weight: 600;
}
#headerDiv h3{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
#headerDiv h1{
    font-family: 'Moon Dance', cursive;
    font-size: 120px;
    font-weight: 1000;
    color: white;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
#headerDiv p i{
    font-size: 10px;
    color: rgb(238, 255, 0);
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}
#headerDiv p span{
    font-size: 11px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

a{
    text-decoration: none;
    /* text-shadow: 4px 2px 10px black; */
}
.dropdown ul li a{
    color: white;
}
.dropdown ul li a:hover{
    color: black;
}
#checkAvButton{
    /* color: white; */
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px black;
}
#checkAvButton:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}
#checkAvail input{
    box-shadow: 2px 2px 10px black; 
}

#roomsResult p span{
    font-size: 16px;
}
#roomsResult button{
    color: rgb(255, 166, 0);
    width: 130px;
    border-bottom: 1px solid rgb(255, 166, 0);
    font-size: 15px;
}
#roomImg:hover{
    transform: scale(1.01);
    transition: 1s;
}
#roomsResult i{
    color: rgb(255, 166, 0);
}
#roomsResult img{
    height: 170px;
    width: 255px;
}