    <!-- Header -->
    <div class="bg-info" id="headerDiv">
            <div class="row" style="padding-top: 450px;">
                <p class="text-center text-white" style="font-size: 12px; text-shadow: 2px 2px 10px rgb(0, 0, 0);">BOUTIQUE RESORT OFFERING TIMELESS EUROPEAN LUXURY</p>
                <p class="text-center text-white mt-4" style="font-size: 72px; text-shadow: 2px 2px 10px rgb(0, 0, 0); font-family: 'Marcellus', serif;">BOUTIQUE RESORT IN THE<br><br><br><br>HEART OF SWISS ALPS</p>
            </div>
    </div>
    <!-- Descrition -->
    <div class="row p-5 text-white" style="background-color: #212529;">
        <p class="text-center" style="font-size: 14px; color: rgb(255, 166, 0);">SWISS HERITAGE MEETS MODERN LUXURY</p>
        <p class="text-center mt-2" style="font-size: 36px; font-family: 'Marcellus', serif;">Elegance in the heart of the mountains is an architectural<br><br>masterpiece offering contemporary accommodations<br><br>with unrivalled ski and hiking trails.</p>
    </div>
    <!-- Gallery Carousal -->
    
    <!-- Activities -->
    <div class="pb-5 pt-5 text-white" style="background-color: #212529;">
        <div class="row mb-5">
            <p class="text-center mb-4" style="font-size: 14px; color: rgb(255, 166, 0);">ENJOY ULTIMATE ALPINE EXPERIENCES</p>
            <h1 class="text-center" style="font-family: 'Marcellus', serif; font-size: 65px;">YOUR HOLIDAY PARADISE</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="card mx-2 p-2" style="width: 18rem; height: 450px;" id="activity1">
                <div class="card-body border border-white">
                    <p class="bg-white w-50 py-1 text-center" style="font-size: 12px;">$150/PERSON</p>
                  <h3 class="card-title">OUTDOORS</h3>
                  <h1 class="card-subtitle mb-2 text-white" style="text-shadow: 2px 2px 5px black; font-family: 'Marcellus', serif;">Winter Hiking</h1>
                </div>
              </div>
              <div class="card mx-2 mt-5 p-2" style="width: 18rem; height: 450px;" id="activity2">
                <div class="card-body border border-white">
                    <p class="bg-white w-50 py-1 text-center" style="font-size: 12px;">$1000/PERSON</p>
                  <h3 class="card-title">OUTDOORS</h3>
                  <h1 class="card-subtitle mb-2 text-white" style="text-shadow: 2px 2px 5px black; font-family: 'Marcellus', serif;">Paraglider Exercises</h1>
                </div>
              </div>
              <div class="card mx-2 p-2" style="width: 18rem; height: 450px;" id="activity3">
                <div class="card-body border border-white">
                    <p class="bg-white w-50 py-1 text-center" style="font-size: 12px;">$200/PERSON</p>
                  <h3 class="card-title">OUTDOORS</h3>
                  <h1 class="card-subtitle mb-2 text-white" style="text-shadow: 2px 2px 5px black; font-family: 'Marcellus', serif;">Golf Courses</h1>
                </div>
              </div>
              <div class="card mx-2 mt-5 p-2" style="width: 18rem; height: 450px;" id="activity4">
                <div class="card-body border border-white">
                    <p class="bg-white w-50 py-1 text-center" style="font-size: 12px;">$300/PERSON</p>
                  <h3 class="card-title">OUTDOORS</h3>
                  <h1 class="card-subtitle mb-2 text-white" style="text-shadow: 2px 2px 5px black; font-family: 'Marcellus', serif;">Ski & Snowsheing</h1>
                </div>
              </div>
        </div>
    </div>
    <!-- Essentials -->
    <div class="d-flex px-5 pb-5 bg text-white" style="background-color: #212529; padding-top: 120px;" id="essentials">
      <div class="col">
        <p class="mb-4" style="color: rgb(255, 166, 0);">DISCOVER THE SERVICES WE OFFERED</p>
        <h3 style="font-family: 'Marcellus', serif; font-size: 50px;">THE ESSENTIALS</h3>
        <div class="col d-flex mt-5 me-3">

          <div class="col-6">
            <div class="col d-flex m-2">
              <i class="fa-solid fa-car-on m-3" style="font-size: 35px;"></i>
            <div>
              <h3 style="font-family: 'Marcellus', serif; font-size: 18px;">Airport Pick-up Service</h3>
              <p style="margin-top: -10px;">Lorem ipsum proin gravida velit auctor sde re sit amet space.</p>
            </div>
            </div>
            <div class="col d-flex m-2">
              <i class="fa-solid fa-wifi m-3" style="font-size: 27px;"></i>
            <div>
              <h3 style="font-family: 'Marcellus', serif; font-size: 18px;">Wifi & Internet</h3>
              <p style="margin-top: -10px;">Lorem ipsum proin gravida velit auctor sde re sit amet space.</p>
            </div>
            </div>
            <div class="col d-flex m-2">
              <i class="fa-solid fa-utensils m-3" style="font-size: 35px;"></i>
            <div>
              <h3 style="font-family: 'Marcellus', serif; font-size: 18px;">Breakfast in Bed</h3>
              <p style="margin-top: -10px;">Lorem ipsum proin gravida velit auctor sde re sit amet space.</p>
            </div>
            </div>
          </div>

          <div class="col-6">
            <div class="col d-flex m-2">
              <i class="fa-solid fa-hand-holding-hand m-3" style="font-size: 30px;"></i>
            <div>
              <h3 style="font-family: 'Marcellus', serif; font-size: 18px;">Housekeeper Services</h3>
              <p style="margin-top: -10px;">Lorem ipsum proin gravida velit auctor sde re sit amet space.</p>
            </div>
            </div>
            <div class="col d-flex m-2">
              <i class="fa-solid fa-jug-detergent m-3" style="font-size: 35px;"></i>
            <div class="ms-2">
              <h3 style="font-family: 'Marcellus', serif; font-size: 18px;">Laundry Services</h3>
              <p style="margin-top: -10px;">Lorem ipsum proin gravida velit auctor sde re sit amet space.</p>
            </div>
            </div>
            <div class="col d-flex m-2">
              <i class="fa-solid fa-person-swimming m-3" style="font-size: 30px;"></i>
            <div>
              <h3 style="font-family: 'Marcellus', serif; font-size: 18px;">Swimming Pool</h3>
              <p style="margin-top: -10px;">Lorem ipsum proin gravida velit auctor sde re sit amet space.</p>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col d-flex">
        <div class="me-2 mt-5">
          <img src="https://cozystay.loftocean.com/mountain-hotel/wp-content/uploads/sites/7/2023/04/img-22-370x554.jpg" alt="">
        </div>
        <div class="">
          <img src="https://cozystay.loftocean.com/mountain-hotel/wp-content/uploads/sites/7/2023/04/img-23-370x554.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- Rooms -->

